<footer>
    <!-- footer-top-area start -->
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <img src="img/logo/logo.png" alt="" />
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. .</p>
                        <div class="widget-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 hidden-sm">
                    <div class="footer-widget">
                        <h3>Our services</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Shipping & Returns</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">International Shipping</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3>Our services</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Shipping & Returns</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">International Shipping</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3>CONTACT US</h3>
                        <ul class="footer-contact">
                            <li>
                                <i class="fa fa-map-marker"> </i>
                                Addresss: 123 Pall Mall, London England
                            </li>
                            <li>
                                <i class="fa fa-envelope"> </i>
                                Email: admin@themepure.net
                            </li>
                            <li>
                                <i class="fa fa-phone"> </i>
                                Phone: +8801912 199981
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
            </div>
        </div>
    </div>
    <!-- footer-top-area end -->
    <!-- footer-bottom-area start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="copyright">
                        <p>Copyright © <a href="#">ThemePure</a>. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="payment-img">
                        <img src="img/payment.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom-area end -->
</footer>
<!-- footer end -->

<!-- JS -->

<!-- jquery js -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>

<!-- price-slider js -->
<script src="js/price-slider.js"></script>

<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script src="js/owl.carousel.min.js"></script>

<!-- jquery.scrollUp js -->
<script src="js/jquery.scrollUp.min.js"></script>

<!-- mixitup js -->
<script src="js/jquery.mixitup.min.js"></script>

<!-- fancybox js -->
<script src="js/fancybox/jquery.fancybox.pack.js"></script>

<!-- jquery-counterup js -->
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>

<!-- jquery-meanmenu js -->
<script src="js/jquery.meanmenu.js"></script>

<!-- rs-plugin js -->
<script type="text/javascript" src="lib/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="lib/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="lib/rs-plugin/rs.home.js"></script>

<!-- plugins js -->
<script src="js/plugins.js"></script>

<!-- main js -->
<script src="js/main.js"></script>
