<!-- header start -->
{{#if isHeaderAbsolute}}
    <header>
{{else}}
    <header class="header-home">
{{/if}}
    <!--<header class="header-home">-->
    <!-- header-top-area start -->
<!--    <div class="header-top-area hidden-xs">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash; header-top-left start &ndash;&gt;-->
<!--                <div class="col-lg-6 col-md-6 col-sm-7">-->
<!--                    <div class="header-top-left">-->
<!--                        &lt;!&ndash;                        <div class="top-message">Default welcome message</div>&ndash;&gt;-->
<!--                        <div class="phone-number"> Звоните: <span>28-50-28</span><a-->
<!--                                href="tel:+79212285028">Позвонить</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; header-top-left end &ndash;&gt;-->
<!--                &lt;!&ndash; header-top-right start &ndash;&gt;-->
<!--                <div class="col-lg-6 col-md-6 col-sm-5">-->
<!--                    <div class="header-top-right">-->
<!--                        <div class="lang-select">-->
<!--                            <ul>-->
<!--                                <li><a href="#"><img src="img/en.png" alt=""/></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="top-menu">-->
<!--                            <ul>-->
<!--                                <li><a href="my-account.html">My Account</a></li>-->
<!--                                <li><a href="wishlist.html">My Wishlist</a></li>-->
<!--                                <li><a href="cart.html">Cart</a></li>-->
<!--                                <li><a href="#">Login</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; header-top-right end &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- header-top-area end -->
    <!-- header-mid-area start -->
    <div class="header-mid-area">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="logo">
                        <a href="/"><img src="img/logo/logo.png" width="140" height="36" alt=""/></a>
                    </div>
                </div>
                <!-- logo end -->
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    28-50-28
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <!-- cart-total start -->
                    <div class="cart-total cart-total-js visually-hidden">
                    </div>
                    <!-- cart-total end -->
                    <!-- header-search start -->
                    <!--                    <div class="phone-number"> Звоните: <span>28-50-28</span><a-->
                    <!--                            href="tel:+79212285028">Позвонить</a></div>-->
                    <div class="header-search">
                        <!--                        <a href="tel:+79212285028">Позвонить</a>-->
                        <!--                        <div class="add-to-cart">-->
                        <a class="btn-phone " href="tel:+79212285028"><i class="fa fa-phone fa-3x btn-phone-icon" aria-hidden="true"></i></a>
                        <!--                        </div>-->
                        <!--                        <form action="#">-->
                        <!--                            <input type="text" placeholder="Search product..."/>-->
                        <!--                            <button type="submit"><i class="fa fa-search"></i></button>-->
                        <!--                        </form>-->
                    </div>
                    <!-- header-search end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-mid-area end -->
    <!-- mainmenu-area start -->
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="mainmenu">
                        <nav>
                            <ul>
                                <!--                                <li><a href="/">Главная</a></li>-->
                                <li><a href="/about-us">О кафе</a></li>
                                <li><a href="/delivery">Доставка </a></li>
                                <!--                                <li><a href="/banquet">Банкеты </a></li>-->
                                <!--                                <li><a href="#">Контакты</a>-->
                                <!--                                    <ul class="sub-menu">-->
                                <!--                                        <li><a href="/booking">Забронировать столик </a></li>-->
                                <!--                                        <li><a href="/contact">Как нас найти </a></li>-->
                                <!--                                    </ul>-->
                                <!--                                </li>-->
                                <li><a href="/contact">Контакты </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mainmenu-area end -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <!--                                <li><a href="/">Главная</a></li>-->
                                <li><a href="/about-us">О кафе</a></li>
                                <li><a href="/delivery">Доставка </a></li>
                                <!--                                <li><a href="/banquet">Банкеты </a></li>-->
                                <!--                                <li><a href="#">Контакты</a>-->
                                <!--                                    <ul class="sub-menu">-->
                                <!--                                        <li><a href="/booking">Забронировать столик </a></li>-->
                                <!--                                        <li><a href="/contact">Как нас найти </a></li>-->
                                <!--                                    </ul>-->
                                <!--                                </li>-->
                                <li><a href="/contact">Контакты </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->
</header>
    <!-- header end -->
