<!-- error-page start -->
<div class="error-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="four-zero-four">
                    <h1><span>404</span></h1>
                    <label>The page you requeted cannot be found.</label>
                    <form action="#">
                        <input type="text" placeholder="Search..."/>
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- error-page end -->
