<!-- about-header-area start -->
<div class="about-header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-header">
                    <h1>О нашем Кафе</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-header-area end -->
<!-- about-us-area start -->
<div class="about-us-area">
    <div class="container">
        <div class="row">
            <!-- about-img start -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-img">
                    <img src="img/about/1.jpg" alt=""/>
                </div>
            </div>
            <!-- about-img end -->
            <!-- about-text start -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h2>We are pure-shop</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum sit amet nibh eget
                        interdum. Nullam ligula risus, efficitur id posuere nec, pulvinar at tellus. Morbi ut tortor
                        nibh. Pellentesque accumsan nisl nulla, et vehicula libero iaculis eu. Cras faucibus, sem et
                        imperdiet cursus, libero risus commodo elit, euismod tempor Donec aliquet, nibh ut imperdiet
                        venenatis, arcu lectus bibendum velit, et gravida sapien justo a libero. Suspendisse ornare,
                        urna id finibus vestibulum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum sit amet nibh eget
                        interdum. Nullam ligula risus, efficitur id posuere nec, pulvinar at tellus. Morbi ut tortor
                        nibh. Pellentesque accumsan nisl nulla.</p>
                    <p>Donec aliquet, nibh ut imperdiet venenatis, arcu lectus bibendum velit, et gravida sapien justo a
                        libero. Suspendisse ornare, urna id finibus vestibulum.</p>
                </div>
            </div>
            <!-- about-text end -->
        </div>
    </div>
</div>
<!-- about-us-area end -->
<!-- about-counter-area start -->
<!--<div class="about-counter-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; single-counter start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-3">-->
<!--                <div class="single-counter">-->
<!--                    <i class="fa fa-users"></i>-->
<!--                    <h3 class="about-counter">150</h3>-->
<!--                    <p>Happy Clients</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-counter end &ndash;&gt;-->
<!--            &lt;!&ndash; single-counter start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-3">-->
<!--                <div class="single-counter">-->
<!--                    <i class="fa fa-trophy"></i>-->
<!--                    <h3 class="about-counter">98</h3>-->
<!--                    <p>Awards Won</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-counter end &ndash;&gt;-->
<!--            &lt;!&ndash; single-counter start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-3">-->
<!--                <div class="single-counter">-->
<!--                    <i class="fa fa-thumbs-up"></i>-->
<!--                    <h3 class="about-counter">9999</h3>-->
<!--                    <p>Projects Done</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-counter end &ndash;&gt;-->
<!--            &lt;!&ndash; single-counter start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-3">-->
<!--                <div class="single-counter">-->
<!--                    <i class="fa fa-coffee"></i>-->
<!--                    <h3 class="about-counter">66689</h3>-->
<!--                    <p>Cups Coffee</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-counter end &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- about-counter-area end -->
<!-- about-service-area start -->
<!--<div class="about-service-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; single-service start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-4">-->
<!--                <div class="single-service">-->
<!--                    <h3>CUSTOMER SUPPORT</h3>-->
<!--                    <div class="sercice-icon">-->
<!--                        <i class="fa fa-smile-o"></i>-->
<!--                    </div>-->
<!--                    <div class="service-text">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellesque imperdiet</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-service end &ndash;&gt;-->
<!--            &lt;!&ndash; single-service start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-4">-->
<!--                <div class="single-service">-->
<!--                    <h3>WEB DESIGN</h3>-->
<!--                    <div class="sercice-icon">-->
<!--                        <i class="fa fa-html5"></i>-->
<!--                    </div>-->
<!--                    <div class="service-text">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellesque imperdiet</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-service end &ndash;&gt;-->
<!--            &lt;!&ndash; single-service start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-4">-->
<!--                <div class="single-service">-->
<!--                    <h3>WORDPRESS THEMES</h3>-->
<!--                    <div class="sercice-icon">-->
<!--                        <i class="fa fa-link"></i>-->
<!--                    </div>-->
<!--                    <div class="service-text">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellesque imperdiet</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-service end &ndash;&gt;-->
<!--            &lt;!&ndash; single-service start &ndash;&gt;-->
<!--            <div class="col-md-3 hidden-sm">-->
<!--                <div class="single-service">-->
<!--                    <h3>LOGO DESIGN</h3>-->
<!--                    <div class="sercice-icon">-->
<!--                        <i class="fa fa-camera"></i>-->
<!--                    </div>-->
<!--                    <div class="service-text">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellesque imperdiet</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-service end &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- about-service-area end -->
<!-- about-team-area start -->
<!--<div class="about-team-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; single-about-team start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-4">-->
<!--                <div class="single-about-team">-->
<!--                    <div class="about-team-img">-->
<!--                        <img src="img/about/team_member_1.jpg" alt="" />-->
<!--                    </div>-->
<!--                    <div class="about-team-info">-->
<!--                        <h3>John Doe</h3>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-about-team end &ndash;&gt;-->
<!--            &lt;!&ndash; single-about-team start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-4">-->
<!--                <div class="single-about-team">-->
<!--                    <div class="about-team-img">-->
<!--                        <img src="img/about/team_member_4.jpg" alt="" />-->
<!--                    </div>-->
<!--                    <div class="about-team-info">-->
<!--                        <h3>MIKE DOE</h3>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-about-team end &ndash;&gt;-->
<!--            &lt;!&ndash; single-about-team start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-4">-->
<!--                <div class="single-about-team">-->
<!--                    <div class="about-team-img">-->
<!--                        <img src="img/about/team_member_2.jpg" alt="" />-->
<!--                    </div>-->
<!--                    <div class="about-team-info">-->
<!--                        <h3>JANE SMITH</h3>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-about-team end &ndash;&gt;-->
<!--            &lt;!&ndash; single-about-team start &ndash;&gt;-->
<!--            <div class="col-md-3 col-sm-3 hidden-sm">-->
<!--                <div class="single-about-team">-->
<!--                    <div class="about-team-img">-->
<!--                        <img src="img/about/team_member_3.jpg" alt="" />-->
<!--                    </div>-->
<!--                    <div class="about-team-info">-->
<!--                        <h3>dolor sit</h3>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; single-about-team end &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- about-team-area end -->
