<!-- about-header-area start -->
<div class="about-header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-header">
                    <h1>Банкеты в кафе "Солнцевой"</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-header-area end -->
<!-- about-us-area start -->
<div class="about-us-area">
    <div class="container">
        <div class="row">
            <!-- about-img start -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-img">
                    <img src="img/about/1.jpg" alt=""/>
                </div>
            </div>
            <!-- about-img end -->
            <!-- about-text start -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h2>We are pure-shop</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum sit amet nibh eget
                        interdum. Nullam ligula risus, efficitur id posuere nec, pulvinar at tellus. Morbi ut tortor
                        nibh. Pellentesque accumsan nisl nulla, et vehicula libero iaculis eu. Cras faucibus, sem et
                        imperdiet cursus, libero risus commodo elit, euismod tempor Donec aliquet, nibh ut imperdiet
                        venenatis, arcu lectus bibendum velit, et gravida sapien justo a libero. Suspendisse ornare,
                        urna id finibus vestibulum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum sit amet nibh eget
                        interdum. Nullam ligula risus, efficitur id posuere nec, pulvinar at tellus. Morbi ut tortor
                        nibh. Pellentesque accumsan nisl nulla.</p>
                    <p>Donec aliquet, nibh ut imperdiet venenatis, arcu lectus bibendum velit, et gravida sapien justo a
                        libero. Suspendisse ornare, urna id finibus vestibulum.</p>
                </div>
            </div>
            <!-- about-text end -->
        </div>
    </div>
</div>
<!-- about-us-area end -->
